script(src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js" integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ==" crossorigin="anonymous" referrerpolicy="no-referrer")

h1(class="txtCenter txtMed2 fontSpecial")="Chat"

form(id="chatForm" class="container py-5 spBorder")
    div(class="row d-flex justify-content-center") 
        div(class="col-md-8 col-lg-6 col-xl-4")     
            div(class="form-group fieldset__div--margin txtCenter")
                label(for="email")="Email"
                input(id="emailInput" type="text" name="email" placeholder="pepe@gmail.com" class="form-control")

            div(class="form-group  fieldset__div--margin txtCenter")
                label(for="message")="message"
                input(id="textInput" type="text" name="message" placeholder="Hello!" class="form-control")

            div(class="form-group  fieldset__div--margin txtCenter")
                input(type="submit" value="SEND" class="btn btn-primary" style="height:20%;width:20%;")