main 
    h3(hidden class="txtCenter txtSmall2 fontSpecial" id="userEmailProd")=usrEmail 
    include prodComponents/prodTable
    script(src="../socket.io/socket.io.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js")
    script(src="../js/products.js")