form(id="chatForm" class="container py-5 spBorder")
    div(class="row d-flex justify-content-center") 
        div(class="col-md-8 col-lg-6 col-xl-4")     
        
            div(class="form-group fieldset__div--margin txtCenter")
                label(for="text")="Text"
                input(id="textInput" type="text" name="text" placeholder="Hola!" class="form-control")

            div(class="form-group  fieldset__div--margin txtCenter")
                input(type="submit" value="Post" class="btn btn-warning btn-lg mt-5")